@font-face {
  font-family: "Lato";
  src: url('./Police/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "LatoBlack";
	src: url('./Police/Lato_Black.ttf') format('truetype');
}

/* FORMAT GÉNÉRAL */
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%; /* Prend 100% de la largeur de la fenêtre */
  max-width: 2000px;
  background-color: white;
  font-family: Lato;
  z-index: 10;
}

a {
  margin: 10px;
  text-decoration: none; /* Supprime le soulignement */
  color: inherit; /* Conserve la couleur de l'élément */
}

#langue_switch {
  border-radius: 30px;
  border: 7px solid transparent;
  box-shadow: 0 1px 4px 3px #6B788820;

  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#langue_switch:hover {
  box-shadow: 0 1px 4px 3px #6B788820;
  background-color: #6B788820;
}

#langue_switch img {
  width: 40px;
  height: 40px;
}

#langue_switch p {
  margin: 5px;

  color: #567263;
  font-style: italic;
}

.ligne-centre {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  margin: 0 5px;
  width: 140px;
  line-height: 20px;
  border: solid #000000 0px;
  border-radius: 15px;
  text-align: center;
  color: whitesmoke;
  transition: 0.3s;
}

.icone:hover {
  color: black;
}

.boutonbis {
  margin: 0 5px;
  padding: 7px;
  width: 150px;
  line-height: 30px;
  border: solid #000000 1px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
}

.boutonbis:hover {
  background-color: #556F56;
  color: whitesmoke;
}

/* HEADER */
header {
  padding: 30px 20px;
  box-shadow: 0 8px 4px -2px #6B788820;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #556F56;
}

#sectiong {
  margin:30px 200px 30px 100px;
  text-align: left;
}

#sectiond {
  margin: 10px 100px 10px 200px;
  text-align: right;
}

#TitrePage {
	text-align: center;
	margin: 0px 400px 0px 400px;
	padding: 10px 10px 10px 10px;
	font-size: 2em;
	font-family:"Lato";
	font-weight: bold;
	border: solid #000000 2px;
	border-radius: 0px;
}
#IntroPage {
	background-color: whitesmoke;
	text-align: center;
	margin: 0px;
	padding: 10px 100px 10px 100px;
}

/* Styles du lien pour le nom du site */
.site-title {
  font-size: 2em;
  font-family: "Lato";
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  margin: 0 400px 0 30px;
}

.site-title:hover {
  color: black;
}

/* ARTICLE */
#article-div {
  margin-top: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

#article-div article {
  padding: 10px 20px;
  box-shadow: 0 4px 0px -2px #6B788820;
}

#article-div article h2 {
  margin: 10px 20px 10px 10px;
  text-align: center;
  font-family: "Lato";
  color: #263526;
}

#article-div article Intro {
  margin: 10px 100px 16px 0;
  text-align: right;
  color: #334433;
}

/* ARTICLE BIENVENUE */
#bienvenue img {
  margin: 0 50px 0 0;
  width: 300px;
  height: 440px;
  border-radius: 50px;
}

#bienvenue Intro {
  width: 300px;
}

#ArticleD img {
	margin: 10px 0 10px 100px;
	width: 200px;
	height:200px;
	border-radius: 50px; 
}

#ArticleG img {
	margin: 10px 200px 10px 0;
	width: 250px;
	height: 250px;
	border-radius: 50px;
}
