@font-face {
  font-family: "Lato";
  src: url('./Police/Lato-Regular.ttf') format('truetype');
}

/* FORMAT GÉNÉRAL */
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%; /* Prend 100% de la largeur de la fenêtre */
  max-width: 2000px;
  background-color: white;
  font-family: Lato;
  z-index: 10;
}

a {
  margin: 10px;
  text-decoration: none; /* Supprime le soulignement */
  color: inherit; /* Conserve la couleur de l'élément */
}

#langue_switch {
  border-radius: 30px;
  border: 7px solid transparent;
  box-shadow: 0 1px 4px 3px #6B788820;

  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#langue_switch:hover {
  box-shadow: 0 1px 4px 3px #6B788820;
  background-color: #6B788820;
}

#langue_switch img {
  width: 40px;
  height: 40px;
}

#langue_switch p {
  margin: 5px;

  color: #567263;
  font-style: italic;
}

.ligne-centre {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton {
  margin: 0 10px;
  width: 200px;
  line-height: 30px;
  border: solid #6A874F 2px;
  border-radius: 15px;
  text-align: center;
  color: #6A874F;
  transition: 0.3s;
}

.bouton:hover {
  background-color: #6A874F;
  color: #fff;
}

.icone {
  margin: 0 10px;
  width: 50px;
  line-height: 50px;
  border: solid #000000 2px;
  border-radius: 15px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
}

.icone:hover {
  background-color: #000000;
  color: #fff;
}

.boutonbis {
  margin: 0 10px;
  width: 150px;
  line-height: 30px;
  border: solid #000000 1px;
  border-radius: 15px;
  text-align: center;
  color: #000000;
  transition: 0.3s;
}

.boutonbis:hover {
  background-color: #000000;
  color: #fff;
}

/* HEADER */
header {
  padding: 30px 20px;
  box-shadow: 0 8px 4px -2px #6B788820;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles du lien pour le nom du site */
.site-title {
  font-size: 2em;
  font-family: "Lato";
  text-decoration: none;
  color: #263526;
  font-weight: bold;
  margin: 0 100px 0 30px;
}

.site-title:hover {
  color: #6A874F;
}

/* ARTICLE */
#article-div {
  margin-top: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

#article-div article {
  padding: 10px 20px;
  box-shadow: 0 4px 0px -2px #6B788820;
}

#article-div article h2 {
  margin: 10px 20px 10px 10px;
  text-align: center;
  font-family: "Lato";
  color: #263526;
}

#article-div article Intro {
  margin: 10px 100px 16px 0;
  text-align: justify;
  color: #334433;
}

/* ARTICLE BIENVENUE */
#bienvenue img {
  margin: 0 50px 0 0;
  width: 300px;
  height: 440px;
  border-radius: 50px;
}

#bienvenue Intro {
  width: 300px;
}
